.red {
    right: 6px;
    bottom: 6px;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: '50%';
}

.green {
    right: 6px;
    bottom: 6px;
    width: 12px;
    height: 12px;
    background-color: rgb(21, 242, 21);
    border-radius: '50%';
}